@import 'config';
@import 'global';
@import 'buttons';
@import 'media_queries';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo {
    letter-spacing: 5px;
}


.nav-link {
    color: $light-color;

    &:hover {
        color: $accent;
            
        }
}


.title {
    margin-bottom: 100px;
    padding: 20px;
    text-align: left;
}

.space {
    margin-left: 40%;
}


.services .card {
    background-color: $darkest-color;

        a {
            border-bottom: 1px solid $lightest-color;
        
        &:hover {
            color: $lightest-color;
        }
    }
}

.gallery {
    margin: 100px 0;
}

.info p {
    line-height: 40px;
}