@import 'config';
@import 'global';
@import 'buttons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo {
    letter-spacing: 5px;
}

.showcase {
    height: 100vh;
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 10px;

        li {
            padding: 15px;

            a {
                color: $light-color;
            }
            
        }

        .hovered{
            color: $accent;
        }

    }


    a:hover,
    .hovered {
        color: $accent;
    }

}


.container {
    max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}


.title {
    margin-bottom: 100px;
    padding: 20px;
    text-align: left;
}

.space {
    margin-left: 40%;
}


.btns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 50px auto;
    gap: 8px;

    a {
        padding: 8px 20px;
        width: calc(33% - 8px);
        border: 1px solid $lightest-color;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    a:hover {
        background-color: $lightest-color;
        color: $darkest-color;
        
    }

    .full {
        width: 100%;
    }

}

